snippet image "Insert an image block"
.$1
[#$2]
image::../uml/chapter15/$2.png[]
endsnippet

snippet js "Insert a JavaScript source block"
.$1
[#$2]
[source, javascript]
----
include::{includedir}/chapter15/$2.js[]
----
endsnippet

snippet joe "JOE"
*JOE*: 
endsnippet

snippet you "YOU"
*YOU*: 
endsnippet

snippet dave "DAVE"
*DAVE*: 
endsnippet

snippet nancy "NANCY"
*NANCY*: 
endsnippet

