snippet image "Insert an image block"
[#$1]
image::../uml/chapter$3/$1.png[]
.$2
endsnippet

snippet js "Insert a JavaScript source block"
.$1
[#$2]
[source, javascript]
----
include::{includedir}/chapter$3/$2.js[]
----
endsnippet

snippet joe "JOE"
*JOE*: 
endsnippet

snippet you "YOU"
*YOU*: 
endsnippet

