snippet spy "Create a spy"
(sc.api/spy)
endsnippet

snippet defsc "Create a spy scope"
(comment
  (sc.api/defsc $1))
endsnippet

snippet are "Create are form"
(are [input expected] (testing input
                        (is (= expected
                               (sut/$1 input)))
                        true)
  $2)
endsnippet

	

