{#_#_:linters {:unresolved-symbol {:level   :error
                               :exclude [=>
                                         throws
                                         (midje.sweet/fact)
                                         (midje.sweet/facts)
                                         (midje.sweet/falsey)
                                         (midje.sweet/provided)
                                         (midje.sweet/truthy)]}
           :refer-all      {:exclude [clojure.test
                                      midje.sweet]}}}
