{:additional-snippets [{:name "wrap-let-sexpr$"
                        :detail "Wrap in let sexpr"
                        :snippet "(let [$1] $0$current-form)"}
                       {:name "defsc"
                        :detail "Define a scope"
                        :snippet "(comment (sc.api/defsc $1))"}
                       {:name "spy$"
                        :detail "Spy"
                        :snippet "(sc.api/spy)"}]
 :use-metadata-for-privacy? false
 :cljfmt
 {:split-keypairs-over-multiple-lines? true
  :remove-multiple-non-indenting-spaces? true
  :indents {against-background [[:inner 0]]
            fact               [[:block 1]]
            facts              [[:block 1]]
            future-fact        [[:block 1]]
            future-facts       [[:block 1]]
            system-map         [[:block 0]]
            tabular            [[:inner 0]]}}}
